@model Gallery.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h1>@Model.SeriesTitle</h1>
<h2>@Model.GameName</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Developers.Length > 0)
{
    <h5>Developers:</h5>
    <div>
        <ul>
            @foreach (var developer in Model.Developers)
            {
                <li>@developer.Role: @developer.Name</li>
            }
        </ul>
    </div>
}